@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'grifter';
  src: url('/fonts/grifterbold.otf') format('otf');
      
  font-weight: normal;
  font-style: normal;
}

body{
  /* background: linear-gradient(90deg, #ffffff 10%, #fff5de 90%); */
}